 <div class="well">
    <h5>Create, edit and collaborate on wikis! </h5>
    <h5><%= link_to "Sign Up", new_user_registration_path %></h4>
</div>

  <br/>
  <br/>
  <br/>

<div>
  <div class="col-md-6">
  
     <p><h5> Create private wikis </h5>
     <h5><%= link_to "Sign Up", new_user_registration_path %></h4> </h5></p>
  </div>
 
   <div class="col-md-6">
     <h5> Create private wikis </h5>
     <h5><%= link_to "Sign Up", new_user_registration_path %></h4>
  </div>
</div>