 <div class="row">
  <div class="col-md-2">
  </div>

  <div class="col-md-4">
   <div class="sign_up_box_big">
    <h5>Create, edit and collaborate on wikis! </h5>
    <div class="sign_up_box_small">
     <h5><%= link_to "Sign Up", new_user_registration_path %></h4>
    </div>
   </div> 
  </div>
</div>

<div class="col-md-6">
</div>


<div class="row">
 <div class="box_index">
  <div class="col-md-6">
   <h5> Create as many wikis as you want </h5>
  </div>

  <div class="col-md-6">
     <h5> Create private wikis </h5>
  </div>
 </div>
</div>

<div class="row">
 <div class="box_index">
  <div class="col-md-6">
   
    <div class="sign_up_box_small_down_left">
     <h5><%= link_to "Sign Up", new_user_registration_path %></h4>
    </div>

  </div>

  <div class="col-md-6">
     <div class="sign_up_box_small_down_right">
       <h5><%= link_to "Sign Up", new_user_registration_path %></h4>
      </div>
  </div>
 </div>
</div>